# Laravel specific ignores
/vendor
/node_modules
/public/storage
/storage/*.key

/.env
/.env.local
/.env.*.local

# Logs & debugging files
/storage/logs/*.log
/storage/framework/cache/*.php
/storage/framework/sessions/*.php
/storage/framework/views/*.php

# Composer & npm dependencies


# IDE and OS-specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Git Ignore Jetstream & Tailwind Build Files
